{% extends 'golf_handicap/base.html' %}

{% block content %}

  <p>Course: {{ course.course_name }} </p>
  
  <p>Tees</p>
  <p>
    <a href="{% url 'golf_handicap:new_course_tee' course.id %}">Add new golf tee</a>
  </p>
  <ul>
    {% for tee in tees %}
      <li>
        <p>Tee Color: {{ tee.tee_name }}</p>
        <p>Course Rating: {{ tee.course_rating }}</p>
        <p>Slope Rating: {{ tee.slope_rating }}
      </li>
    {% empty %}
      <li>There is no information about this course.</li>
    {% endfor %}
  </ul>

{% endblock content %}