{% extends 'golf_handicap/base.html' %}

{% block content %}

<p>Golf Handicap</p>

{% if user.is_authenticated %}
  {% if handicap %}
    <p>Your handicap is {{ handicap }}</p>

    <h2>Recent Scores</h2>
      <ul>
        {% for score in scores %}
          <li>{{ score.date_played }} | {{ score.tee}} | {{ score.score }} 
            <a href="{% url 'golf_handicap:edit_score' score_id=score.id %}">Edit Score</a></p>
          </li>
        {% endfor %}
      </ul>

  {% else %}
    <p>Not enough rounds played to calculate a handicap.</p>
  {% endif %}

{% else %}
  <p>Application to save golf scores and calculate Handicap.</p>
{% endif %}

<p>
  <a href="{% url 'golf_handicap:new_score' %}">Add score</a>
</p>

{% endblock content %}